html, body
{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
.menu
{
	position: fixed;
	left: 0px;
	top: 0;
	background-color:#131F25;
	border-right:1px solid #131F25;
	height: 100%;
	color: white;
	text-align: center;
	z-index: 5;
}
.menu-content
{
	list-style: none;
	margin-left: -15px;
	padding-right: 15px;
	margin-top: 100px;
}
.menu-content a, .menu-footer a
{
	color: white;
	text-decoration: none;
	font-size: 17px;
	-webkit-transition:all 0.25s;
}
.menu-content a:hover
{
	color: #D77A61;
	text-decoration: none;
}
.menu-content .menu-item li
{
	margin-top: 20px;
}
.menu-footer
{
	list-style: none;
	margin-left: -10px;
	padding-right: 15px;
	margin-top: 100px;
	font-size: 25px;
	position: absolute;
	bottom: 0px;
}
.menu-footer li
{
	margin-top: 10px;
}
.main-cont
{
	text-align: center;
	border: 1px solid transparent;
	height:100%;
	width: 100%;
	background: url(../images/bg5.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}
.clip-text h1
{
	
}
.clip-text
{
	font-size: 65px;
	font-weight: bolder;
	color:#223843; 
	background-clip: text;
	-webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background-image: url('../images/bg6.jpg')!important;
    background-size: auto 500px !important;
    -webkit-animation-name:marquee !important;
    -webkit-animation-iteration-count:infinite !important;
    -webkit-animation-duration:10s !important;
    -webkit-animation-direction: alternate !important;
    -webkit-animation-timing-function: linear !important;
}
@-webkit-keyframes marquee {
  0% 
  {
    background-position: 0;
  }

  33% 
  {
    background-position: -100px;
  }
  66%
  {
   background-position: -100px 50px;	
  }
  100%
  {
   background-position: 0px 0px;	
  }
}
.hr
{
	border: 0px;
	border-bottom: 2px solid #223843;
	width: 30%;
}
.specification
{
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	letter-spacing: 7px;
	word-spacing: 15px;
}
.btn-sml
{
	background-color: transparent;
	border: 2px solid #223843;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	padding: 10px;
	border-radius: 1px;
	margin-top: 20px;
	-webkit-transition:all 0.4s;
}
.btn-sml:focus
{
	outline: none;
}
.btn-sml:hover
{
	background-color: #223843;
	color: white;
}
.quote
{
	font-family: 'Caveat', cursive;
	font-size: 20px;
	margin-top: 50px;
	color: #454545;
}
.menu-head
{
	background-color: #0D1418;
	list-style: none;
	margin-left: 0px;
	padding-right:0px;
	padding-left:0px;
	padding: 20px;
	-webkit-transition:all 0.5s;
}
.menu-head a
{
	color: #FCBA04;
	font-size: 25px;
	-webkit-transition:all 0.5s;
}
.menu-head a:hover
{
	color: #FCBA04;
}
.menu-txt
{
	font-size: 8px;
	color: #FCBA04;
	font-family: 'Comfortaa', cursive;
	word-spacing: 3px;
	margin-top: 5px;
}
/*.overlayer2
{
	z-index: 4;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color:#0C1316;
	color: white;
	text-align: center;
}
.overlayer2 h1
{
	margin-top: 20%;
}
.col-sm-4
{
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	padding: 20px;
}
.col-sm-4 h1
{
	font-size: 22px;
}
.phn
{
	margin-left: 0px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	height: 100px;
	padding: 10px;
}
.phn p
{
	font-size: 15px;
	margin-top: 10px;
	font-weight: bold;
	display: inline-block;
}*/
.main-cont-2
{
	background-color:#101b21;
	min-height: 100%;
	padding: 20px;
	padding-bottom:0px !important;
	color: white;
}
.main-cont-2 h1
{
	font-family: 'Comfortaa', cursive !important;
	word-spacing: 20px;
	letter-spacing: 10px;
	font-size: 25px;
}
.lg-m
{
	font-family: 'Comfortaa', cursive !important;
	font-size: 60px;
	color: white;
}
.lg-m font
{
	color: #FF6A6A;
}
.xlg
{
	font-family: 'Comfortaa', cursive !important;
	font-size: 100px;
	font-weight: bold;
	color: white;
}
.round-circle
{
	height: 30px;
	width: 30px;
	border:7px solid #1874CD;
	border-radius: 10px;
	display: inline-block;
}
.profile-cont
{
	padding: 30px;
	font-size: 18px;
	font-family: 'Comfortaa', cursive !important;
	line-height: 40px;
}
@media only screen and (max-width: 950px) 
{
	.lg-m
	{
		font-size: 40px;
	}
	.xlg
	{
		font-size: 60px;
	}
}
@media only screen and (max-width: 700px)
{
	.lg-m, .xlg
	{
		display: none !important;
	}
	.menu-content
	{
		margin-top: 30px;
	}
}
.skill-cont
{
	width: 93%;
	min-height: 200px;
	margin: auto;
	margin-top: 50px;
	position: relative !important;
}
.skill-cont::before
{
	content:''; 
  	width:60px; 
  	height:60px;
  	position: absolute; 
  	border-left: 1px solid white;
  	border-top:1px solid white;
}
.skill-cont::after
{
	content:''; 
  	width:60px; 
  	height:60px;
  	position: absolute; 
  	border-right: 1px solid white;
  	border-bottom:1px solid white;
  	right: 0;
  	bottom: 0;
}
.skillset
{
	padding: 30px;
}
.skill-display
{
	margin: auto !important;
	height:100px;
	width:75px;
	background-color: white;
	position: relative;
	color: white;
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
	display: inline-block;
	margin-right: 20px !important;
	vertical-align: middle;
	text-shadow: 5px 5px 7px rgba(0,0,0,0.3);
}
.skill-display::before
{
	content: '';
	width: 0;
	height: 0;
	border: 10px solid white;
	border-top:10px solid #101b21;
	border-right:10px solid #101b21;
	border-bottom-left-radius: 2px;
	float: right;
	box-shadow: -2px 2px 4px rgba(0,0,0,0.35);
	-webkit-transition:all 300ms;
}
.skill-display:hover::before
{
	border: 7px solid white;
	border-top:7px solid #101b21;
	border-right:7px solid #101b21;
}
.main-skills
{
	margin:auto !important;
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
.main-skills .circle
{
	text-align: center;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	display: inline-flex;
	margin: 20px;
	font-size: 18px;
	font-weight: bolder;
	background-color: #CD3333;
	text-shadow: 7px 7px 15px rgba(0,0,0,0.4);
}
.work
{
	text-align: center;
	color: white;
	font-size: 15px;
	word-spacing: 5px;
	letter-spacing: 1px;
}
.work h4
{
	color: #D77A61;
}
.work img
{
	width: 70%;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 2px solid white;
	padding: 10px;
}
.work p
{
	font-size: 13px;
	word-spacing: 5px;
	letter-spacing: 1px;
	margin-top: 20px;
}